/*
=============================================
    CUBE CSS: Compositions
=============================================
*/


.flex-col{
    display: flex;
    flex-direction: column;
}

.flex-row{
    display: flex;
    flex-direction: row;
}

.flex-center{
    justify-content: center;
    align-items: center;
}

.flex-between{
    justify-content: space-between;
    align-items: center;
}

.flow-row > * + *{
    margin-left: 1em;
}